[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[user]
	email = denis.klimenko.dx@gmail.com
	name = Denys Klymenko
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[core]
        editor = vim
